<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px"
fxLayoutGap.xs="0">
  <mat-list fxFlex>
    <table mat-table *ngFor="let event of events" class="mat-elevation-z8 demo-table">
      <!-- Position Column -->
      <ng-container matColumnDef="demo-position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let panel"> {{event.id_evento}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="demo-name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let panel"> {{event.event_name}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-list>
</div>
