  <br>

  <mat-card-actions>
    <button mat-raised-button style="color: red;" [routerLink]="['/config']">Atras</button>
  </mat-card-actions>
  <mat-card-actions>
    <button mat-raised-button style="color: green;" [routerLink]="['/config/manager']">Configurar</button>
  </mat-card-actions>

  <br>
  <br>

  <table mat-table [dataSource]="events" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let event"> {{event.id_evento}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre de Evento </th>
      <td mat-cell *matCellDef="let event"> {{event.event_name}} </td>
    </ng-container>


    <!-- Weight Column -->
    <ng-container matColumnDef="imagen">
      <th mat-header-cell *matHeaderCellDef> Imagen del Evento </th>
      <td mat-cell *matCellDef="let event"> {{event.image}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let event" style="text-align: right;">
        <a>
          <button mat-raised-button color="primary" [routerLink]="['/config/update/', event.id_evento]">Actualizar</button>
        </a>
        <a>
          <button mat-raised-button color="warn" (click)="deleteEvent(event.id_evento)">Eliminar</button>
        </a>
        <a>
          <button mat-raised-button style="color: green;" [routerLink]="['/config/', event.id_evento]">Configurar</button>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>


