<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div fxFlex>
    <div>
      <h3>Configuracion de Paneles</h3>
      <hr />
    </div>
  </div>

  <br />


  <div class="container">
    <form [formGroup]="form1" (ngSubmit)="save1($event)">
      <div fxFlex="40">
        <section class="paneles-config">
          <span class="list-paneless-config">
            <mat-checkbox
              formControlName="e_p_1"
              class="panels"
              [(ngModel)]="panel1.e_p_1"
              [checked]="allComplete1"
              [color]="panel1.color"
              [indeterminate]="someComplete1()"
              (change)="setAll1($event.checked)"
            >
              {{ panel1.nombre_panel }}
            </mat-checkbox>
          </span>
          <span class="example-list-section">
            <ul>
              <li>
                <mat-checkbox
                  formControlName="e_c_1"
                  [(ngModel)]="panel1.subtasks[0].e_c_1"
                  [color]="panel1.subtasks.color"
                  (ngModelChange)="updateAllComplete1()"
                >
                  {{ panel1.subtasks[0].conferencista_1_1 }}
                </mat-checkbox>
                <mat-form-field class="nombre_conferencista1" appearance="fill">
                  <mat-label>Nombre Conferencista 1</mat-label>
                  <input
                    matInput
                    formControlName="conferencista_1_1"
                    type="text"
                  />
                </mat-form-field>
              </li>
              <li>
                <mat-checkbox
                  formControlName="e_c_2"
                  [(ngModel)]="panel1.subtasks[1].e_c_2"
                  [color]="panel1.subtasks.color"
                  (ngModelChange)="updateAllComplete1()"
                >
                  {{ panel1.subtasks[1].conferencista_1_2 }}
                </mat-checkbox>
                <mat-form-field class="nombre_conferencista2" appearance="fill">
                  <mat-label>Nombre Conferencista 2</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="conferencista_1_2"
                  />
                </mat-form-field>
              </li>
              <li>
                <mat-checkbox
                  formControlName="e_c_3"
                  [(ngModel)]="panel1.subtasks[2].e_c_3"
                  [color]="panel1.subtasks.color"
                  (ngModelChange)="updateAllComplete1()"
                >
                  {{ panel1.subtasks[2].conferencista_1_3 }}
                </mat-checkbox>
                <mat-form-field class="nombre_conferencista" appearance="fill">
                  <mat-label>Nombre Conferencista 3</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="conferencista_1_3"
                  />
                </mat-form-field>
              </li>
              <li>
                <mat-checkbox
                  formControlName="e_c_4"
                  [(ngModel)]="panel1.subtasks[3].e_c_4"
                  [color]="panel1.subtasks.color"
                  (ngModelChange)="updateAllComplete1()"
                >
                  {{ panel1.subtasks[3].conferencista_1_4 }}
                </mat-checkbox>
                <mat-form-field class="nombre_conferencista" appearance="fill">
                  <mat-label>Nombre Conferencista 4</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="conferencista_1_4"
                  />
                </mat-form-field>
              </li>
              <li>
                <mat-checkbox
                  formControlName="e_c_5"
                  [(ngModel)]="panel1.subtasks[4].e_c_5"
                  [color]="panel1.subtasks.color"
                  (ngModelChange)="updateAllComplete1()"
                >
                  {{ panel1.subtasks[4].conferencista_1_5 }}
                </mat-checkbox>
                <mat-form-field class="nombre_conferencista" appearance="fill">
                  <mat-label>Nombre Conferencista 5</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="conferencista_1_5"
                  />
                </mat-form-field>
              </li>
            </ul>
          </span>
          <div>
            <button mat-raised-button color="primary">Guardar</button>
          </div>
        </section>
      </div>
    </form>

    <!--     <div fxFlex="40">
      <section class="paneles-config">
        <span class="list-paneless-config">
          <mat-checkbox
            class="panels"
            [checked]="allComplete1"
            [color]="task1.color"
            [indeterminate]="someComplete1()"
            (change)="setAll1($event.checked)"
          >
            {{ task1.name }}
          </mat-checkbox>
        </span>
        <span class="example-list-section">
          <ul>
            <li *ngFor="let subtask of task1.subtasks">
              <mat-checkbox
                [(ngModel)]="subtask.completed"
                [color]="subtask.color"
                (ngModelChange)="updateAllComplete1()"
              >
                {{ subtask.name }}
              </mat-checkbox>
              <form class="example-form">
                <mat-form-field class="nombre_conferencista" appearance="fill">
                  <mat-label>Nombre Conferencista</mat-label>
                  <input matInput type="text" />
                </mat-form-field>
              </form>
            </li>
          </ul>
        </span>
      </section>
    </div> -->
    <form [formGroup]="form2" (ngSubmit)="save2($event)">
      <div fxFlex="40">
        <section class="paneles-config">
          <span class="list-paneless-config">
            <mat-checkbox
              formControlName="e_p_2"
              class="panels"
              [(ngModel)]="panel2.e_p_1"
              [checked]="allComplete2"
              [color]="panel2.color"
              [indeterminate]="someComplete1()"
              (change)="setAll1($event.checked)"
            >
              {{ panel2.nombre_panel }}
            </mat-checkbox>
          </span>
          <span class="example-list-section">
            <ul>
              <li>
                <mat-checkbox
                  formControlName="e_c_1"
                  [(ngModel)]="panel2.subtasks[0].e_c_1"
                  [color]="panel2.subtasks.color"
                  (ngModelChange)="updateAllComplete1()"
                >
                  {{ panel1.subtasks[0].conferencista_2_1 }}
                </mat-checkbox>
                <mat-form-field class="nombre_conferencista1" appearance="fill">
                  <mat-label>Nombre Conferencista 1</mat-label>
                  <input
                    matInput
                    formControlName="conferencista_2_1"
                    type="text"
                  />
                </mat-form-field>
              </li>
              <li>
                <mat-checkbox
                  formControlName="e_c_2"
                  [(ngModel)]="panel2.subtasks[1].e_c_2"
                  [color]="panel2.subtasks.color"
                  (ngModelChange)="updateAllComplete1()"
                >
                  {{ panel2.subtasks[1].conferencista_2_2 }}
                </mat-checkbox>
                <mat-form-field class="nombre_conferencista2" appearance="fill">
                  <mat-label>Nombre Conferencista 2</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="conferencista_2_2"
                  />
                </mat-form-field>
              </li>
              <li>
                <mat-checkbox
                  formControlName="e_c_3"
                  [(ngModel)]="panel2.subtasks[2].e_c_3"
                  [color]="panel2.subtasks.color"
                  (ngModelChange)="updateAllComplete1()"
                >
                  {{ panel2.subtasks[2].conferencista_2_3 }}
                </mat-checkbox>
                <mat-form-field class="nombre_conferencista" appearance="fill">
                  <mat-label>Nombre Conferencista 3</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="conferencista_2_3"
                  />
                </mat-form-field>
              </li>
              <li>
                <mat-checkbox
                  formControlName="e_c_4"
                  [(ngModel)]="panel2.subtasks[3].e_c_4"
                  [color]="panel2.subtasks.color"
                  (ngModelChange)="updateAllComplete1()"
                >
                  {{ panel2.subtasks[3].conferencista_2_4 }}
                </mat-checkbox>
                <mat-form-field class="nombre_conferencista" appearance="fill">
                  <mat-label>Nombre Conferencista 4</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="conferencista_2_4"
                  />
                </mat-form-field>
              </li>
              <li>
                <mat-checkbox
                  formControlName="e_c_5"
                  [(ngModel)]="panel2.subtasks[4].e_c_5"
                  [color]="panel2.subtasks.color"
                  (ngModelChange)="updateAllComplete1()"
                >
                  {{ panel2.subtasks[4].conferencista_2_5 }}
                </mat-checkbox>
                <mat-form-field class="nombre_conferencista" appearance="fill">
                  <mat-label>Nombre Conferencista 5</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="conferencista_2_5"
                  />
                </mat-form-field>
              </li>
            </ul>
          </span>
          <div>
            <button mat-raised-button color="primary">Guardar</button>
          </div>
        </section>
      </div>
    </form>

    <form [formGroup]="form3" (ngSubmit)="save3($event)">
      <div fxFlex="40">
        <section class="paneles-config">
          <span class="list-paneless-config">
            <mat-checkbox
              formControlName="e_p_3"
              class="panels"
              [(ngModel)]="panel3.e_p_3"
              [checked]="allComplete2"
              [color]="panel3.color"
              [indeterminate]="someComplete1()"
              (change)="setAll3($event.checked)"
            >
              {{ panel3.nombre_panel }}
            </mat-checkbox>
          </span>
          <span class="example-list-section">
            <ul>
              <li>
                <mat-checkbox
                  formControlName="e_c_1"
                  [(ngModel)]="panel3.subtasks[0].e_c_1"
                  [color]="panel3.subtasks.color"
                  (ngModelChange)="updateAllComplete1()"
                >
                  {{ panel3.subtasks[0].conferencista_3_1 }}
                </mat-checkbox>
                <mat-form-field class="nombre_conferencista1" appearance="fill">
                  <mat-label>Nombre Conferencista 1</mat-label>
                  <input
                    matInput
                    formControlName="conferencista_3_1"
                    type="text"
                  />
                </mat-form-field>
              </li>
              <li>
                <mat-checkbox
                  formControlName="e_c_2"
                  [(ngModel)]="panel3.subtasks[1].e_c_2"
                  [color]="panel3.subtasks.color"
                  (ngModelChange)="updateAllComplete3()"
                >
                  {{ panel3.subtasks[1].conferencista_3_2 }}
                </mat-checkbox>
                <mat-form-field class="nombre_conferencista2" appearance="fill">
                  <mat-label>Nombre Conferencista 2</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="conferencista_3_2"
                  />
                </mat-form-field>
              </li>
              <li>
                <mat-checkbox
                  formControlName="e_c_3"
                  [(ngModel)]="panel3.subtasks[2].e_c_3"
                  [color]="panel3.subtasks.color"
                  (ngModelChange)="updateAllComplete1()"
                >
                  {{ panel3.subtasks[2].conferencista_3_3 }}
                </mat-checkbox>
                <mat-form-field class="nombre_conferencista" appearance="fill">
                  <mat-label>Nombre Conferencista 3</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="conferencista_3_3"
                  />
                </mat-form-field>
              </li>
              <li>
                <mat-checkbox
                  formControlName="e_c_4"
                  [(ngModel)]="panel3.subtasks[3].e_c_4"
                  [color]="panel3.subtasks.color"
                  (ngModelChange)="updateAllComplete3()"
                >
                  {{ panel3.subtasks[3].conferencista_3_4 }}
                </mat-checkbox>
                <mat-form-field class="nombre_conferencista" appearance="fill">
                  <mat-label>Nombre Conferencista 4</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="conferencista_3_4"
                  />
                </mat-form-field>
              </li>
              <li>
                <mat-checkbox
                  formControlName="e_c_5"
                  [(ngModel)]="panel3.subtasks[4].e_c_5"
                  [color]="panel3.subtasks.color"
                  (ngModelChange)="updateAllComplete3()"
                >
                  {{ panel3.subtasks[4].conferencista_3_5 }}
                </mat-checkbox>
                <mat-form-field class="nombre_conferencista" appearance="fill">
                  <mat-label>Nombre Conferencista 5</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="conferencista_3_5"
                  />
                </mat-form-field>
              </li>
            </ul>
          </span>
          <div>
            <button mat-raised-button color="primary">Guardar</button>
          </div>
        </section>
      </div>
    </form>

    <form [formGroup]="form4" (ngSubmit)="save4($event)">
      <div fxFlex="40">
        <section class="paneles-config">
          <span class="list-paneless-config">
            <mat-checkbox
              formControlName="e_p_4"
              class="panels"
              [(ngModel)]="panel4.e_p_4"
              [checked]="allComplete4"
              [color]="panel4.color"
              [indeterminate]="someComplete4()"
              (change)="setAll4($event.checked)"
            >
              {{ panel4.nombre_panel }}
            </mat-checkbox>
          </span>
          <span class="example-list-section">
            <ul>
              <li>
                <mat-checkbox
                  formControlName="e_c_1"
                  [(ngModel)]="panel4.subtasks[0].e_c_1"
                  [color]="panel4.subtasks.color"
                  (ngModelChange)="updateAllComplete4()"
                >
                  {{ panel4.subtasks[0].conferencista_4_1 }}
                </mat-checkbox>
                <mat-form-field class="nombre_conferencista1" appearance="fill">
                  <mat-label>Nombre Conferencista 1</mat-label>
                  <input
                    matInput
                    formControlName="conferencista_4_1"
                    type="text"
                  />
                </mat-form-field>
              </li>
              <li>
                <mat-checkbox
                  formControlName="e_c_2"
                  [(ngModel)]="panel4.subtasks[1].e_c_2"
                  [color]="panel4.subtasks.color"
                  (ngModelChange)="updateAllComplete4()"
                >
                  {{ panel4.subtasks[1].conferencista_4_2 }}
                </mat-checkbox>
                <mat-form-field class="nombre_conferencista2" appearance="fill">
                  <mat-label>Nombre Conferencista 2</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="conferencista_4_2"
                  />
                </mat-form-field>
              </li>
              <li>
                <mat-checkbox
                  formControlName="e_c_3"
                  [(ngModel)]="panel4.subtasks[2].e_c_4"
                  [color]="panel4.subtasks.color"
                  (ngModelChange)="updateAllComplete4()"
                >
                  {{ panel4.subtasks[2].conferencista_4_3 }}
                </mat-checkbox>
                <mat-form-field class="nombre_conferencista" appearance="fill">
                  <mat-label>Nombre Conferencista 3</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="conferencista_4_3"
                  />
                </mat-form-field>
              </li>
              <li>
                <mat-checkbox
                  formControlName="e_c_4"
                  [(ngModel)]="panel4.subtasks[3].e_c_4"
                  [color]="panel4.subtasks.color"
                  (ngModelChange)="updateAllComplete4()"
                >
                  {{ panel4.subtasks[3].conferencista_4_4 }}
                </mat-checkbox>
                <mat-form-field class="nombre_conferencista" appearance="fill">
                  <mat-label>Nombre Conferencista 4</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="conferencista_4_4"
                  />
                </mat-form-field>
              </li>
              <li>
                <mat-checkbox
                  formControlName="e_c_5"
                  [(ngModel)]="panel4.subtasks[4].e_c_5"
                  [color]="panel4.subtasks.color"
                  (ngModelChange)="updateAllComplete4()"
                >
                  {{ panel4.subtasks[4].conferencista_4_5 }}
                </mat-checkbox>
                <mat-form-field class="nombre_conferencista" appearance="fill">
                  <mat-label>Nombre Conferencista 5</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="conferencista_4_5"
                  />
                </mat-form-field>
              </li>
            </ul>
          </span>
          <div>
            <button mat-raised-button color="primary">Guardar</button>
          </div>
        </section>
      </div>
    </form>

    <form [formGroup]="form5" (ngSubmit)="save5($event)">
      <div fxFlex="40">
        <section class="paneles-config">
          <span class="list-paneless-config">
            <mat-checkbox
              formControlName="e_p_5"
              class="panels"
              [(ngModel)]="panel5.e_p_5"
              [checked]="allComplete5"
              [color]="panel5.color"
              [indeterminate]="someComplete5()"
              (change)="setAll5($event.checked)"
            >
              {{ panel5.nombre_panel }}
            </mat-checkbox>
          </span>
          <span class="example-list-section">
            <ul>
              <li>
                <mat-checkbox
                  formControlName="e_c_1"
                  [(ngModel)]="panel5.subtasks[0].e_c_1"
                  [color]="panel5.subtasks.color"
                  (ngModelChange)="updateAllComplete5()"
                >
                  {{ panel5.subtasks[0].conferencista_5_1 }}
                </mat-checkbox>
                <mat-form-field class="nombre_conferencista1" appearance="fill">
                  <mat-label>Nombre Conferencista 1</mat-label>
                  <input
                    matInput
                    formControlName="conferencista_5_1"
                    type="text"
                  />
                </mat-form-field>
              </li>
              <li>
                <mat-checkbox
                  formControlName="e_c_2"
                  [(ngModel)]="panel5.subtasks[1].e_c_2"
                  [color]="panel5.subtasks.color"
                  (ngModelChange)="updateAllComplete5()"
                >
                  {{ panel5.subtasks[1].conferencista_5_2 }}
                </mat-checkbox>
                <mat-form-field class="nombre_conferencista2" appearance="fill">
                  <mat-label>Nombre Conferencista 2</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="conferencista_5_2"
                  />
                </mat-form-field>
              </li>
              <li>
                <mat-checkbox
                  formControlName="e_c_3"
                  [(ngModel)]="panel5.subtasks[2].e_c_4"
                  [color]="panel5.subtasks.color"
                  (ngModelChange)="updateAllComplete5()"
                >
                  {{ panel5.subtasks[2].conferencista_5_3 }}
                </mat-checkbox>
                <mat-form-field class="nombre_conferencista" appearance="fill">
                  <mat-label>Nombre Conferencista 3</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="conferencista_5_3"
                  />
                </mat-form-field>
              </li>
              <li>
                <mat-checkbox
                  formControlName="e_c_4"
                  [(ngModel)]="panel5.subtasks[3].e_c_4"
                  [color]="panel5.subtasks.color"
                  (ngModelChange)="updateAllComplete5()"
                >
                  {{ panel5.subtasks[3].conferencista_5_4 }}
                </mat-checkbox>
                <mat-form-field class="nombre_conferencista" appearance="fill">
                  <mat-label>Nombre Conferencista 4</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="conferencista_5_4"
                  />
                </mat-form-field>
              </li>
              <li>
                <mat-checkbox
                  formControlName="e_c_5"
                  [(ngModel)]="panel5.subtasks[4].e_c_5"
                  [color]="panel5.subtasks.color"
                  (ngModelChange)="updateAllComplete5()"
                >
                  {{ panel5.subtasks[4].conferencista_5_5 }}
                </mat-checkbox>
                <mat-form-field class="nombre_conferencista" appearance="fill">
                  <mat-label>Nombre Conferencista 5</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="conferencista_5_5"
                  />
                </mat-form-field>
              </li>
            </ul>
          </span>
          <div>
            <button mat-raised-button color="primary">Guardar</button>
          </div>
        </section>
      </div>
    </form>
  </div>
</div>
